@model HouseHunt2.Models.RegisterViewModel
@{
    /**/

    ViewBag.Title = "REGISTER";
}
<br/><br/>
<div class="box" align="center">
    <h2 style="color: white">@ViewBag.Title.</h2>

    <br/>
    <div style="background: rgba(25, 5, 20, 0.48); width: 60%;">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <br/>
            <h4 style="color: white">CREATE A NEW ACCOUNT.</h4>
            <hr/>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <div align="center">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "E-Mail", @type = "email" })
                </div>
            </div>
            <div class="form-group">
                <div align="center">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                </div>
            </div>
            <div class="form-group">
                <div align="center">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                </div>
            </div>
            <div class="form-group">
                <div align="center">
                    @Html.TextBoxFor(m => m.Gender, new { @class = "form-control", @placeholder = "Gender" })
                </div>
            </div>
            <div class="form-group">
                <div align="center">
                    @Html.TextBoxFor(m => m.PhoneNum, new { @class = "form-control", @placeholder = "Phone Number" })
                </div>
            </div>
            <div class="form-group">
                <div align="center">
                    @Html.TextBoxFor(m => m.Street, new { @class = "form-control", @placeholder = "Street Name" })
                </div>
            </div>
            <div class="form-group">
                <div align="center">
                    @Html.TextBoxFor(m => m.Çity, new { @class = "form-control", @placeholder = "City" })
                </div>
            </div>

            <div class="form-group">
                <div align="center">
                    @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control", @placeholder = "Date of Birth (dd/mm/yyyy)" })
                </div>
            </div>
            <div class="form-group">
                <div align="center">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                </div>
            </div>
            <div align="center" class="form-group">
                <div align="center">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                </div>
            </div>
            <div class="form-group">
                <div align="center" class="col-md-offset-2 col-md-10">
                    <input type="submit" class="butt" value="REGISTER" />
                </div>
            </div>
            <br/>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
