@model IEnumerable<HouseHunt2.Models.Preference>

@{
    ViewBag.Title = "Index";
}
<br>
<h2 align="center">My Preferences</h2>

<br />
<div class="box" align="center">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bedroom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Baths)
            </th>
            <th>
                Nearby Location
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Bedroom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Baths)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NearbyLocation)
                </td>
            </tr>
        }

    </table>

    <div>
        <button class="butt" type="button">@Html.ActionLink("CREATE NEW", "Create")</button>
        <button class="butt" type="button">@Html.ActionLink("UPDATE", "Edit")</button>
        <button class="butt" type="button">@Html.ActionLink("DELETE", "Delete")</button>
        <br />
    </div>

</div>

<br>
