@model IEnumerable<HouseHunt2.Models.Owner>

@{
    ViewBag.Title = "OwnerIndex";
}

<h2>OwnerIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Own_First)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Own_Last)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Own_Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Own_DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Own_Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Own_City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Own_Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Own_Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Own_First)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Own_Last)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Own_Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Own_DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Own_Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Own_City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Own_Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Own_Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Owner_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Owner_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Owner_Id })
        </td>
    </tr>
}

</table>
