@model IEnumerable<HouseHunt2.Models.Property>

@{
    ViewBag.Title = "Property Details";
}
<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 400px;
        width: 1125px;
    }
</style>

<br/><br/>
<h2 align="center">PROPERTY DETAILS</h2>

<div>
    <div style="background: rgba(25, 5, 20, 0.1);">
        <br />
        <h4 align="center">PROPERTY</h4>
        <hr />
        <table class="table">
            <tr>
                <th>

                </th>
                <th>
                    HOUSE INFORMATION
                </th>
                <th>
                    OWNER INFORMATION
                </th>
            </tr>

            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                    var base64 = Convert.ToBase64String(item.Prop_Img);
                    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                    }
                    <img src='@imgsrc' style="max-width:3000px;max-height:3000px" />
                </td>
                <td>
                    <p>
                        <b>ADDRESS</b>
                        <br />
                        @Html.DisplayFor(modelItem => item.Prop_Street),
                        @Html.DisplayFor(modelItem => item.Prop_City)
                        <br />
                        <b>BEDS</b><br />
                        @Html.DisplayFor(modelItem => item.Prop_NumOfBed)
                        <br />
                        <b>BATHS</b><br />
                        @Html.DisplayFor(modelItem => item.Prop_NumOfBath)
                        <br />
                        <b>CONDITION</b><br />
                        @Html.DisplayFor(modelItem => item.Prop_Condition)
                        <br />
                        <b>PRICE</b><br />$
                        @Html.DisplayFor(modelItem => item.Prop_Price)
                        <br />
                        <b>DESCRIPTION</b><br />
                        @Html.DisplayFor(modelItem => item.Prop_Description)<br />

                        <b>AVAILABLE TIME</b><br />

                    </p>
                </td>
                <td>
                    <b>NAME</b><br />
                    @Html.DisplayFor(modelItem => item.AspNetUser.FirstName)
                    @Html.DisplayFor(modelItem => item.AspNetUser.LastName)<br />
                    <b>ADDRESS</b><br />
                    @Html.DisplayFor(modelItem => item.AspNetUser.Street)
                    @Html.DisplayFor(modelItem => item.AspNetUser.Çity)<br />
                    <b>EMAIL</b><br />
                    @Html.DisplayFor(modelItem => item.AspNetUser.Email)<br />
                    <b>PHONE</b><br />
                    @Html.DisplayFor(modelItem => item.AspNetUser.PhoneNum)
                    <br />
                </td>
            </tr>

    }

        </table>

        <div align="center" class="form-inline">
            <button class="butt" type="button" data-toggle="modal" data-target="#bookdate">BOOK INSPECTION</button>
            <button class="butt btn btn-lg glyphicon glyphicon-star-empty" type="button"></button>
            <button class="butt" type="button" data-toggle="modal" data-target="#review">WRITE REVIEW</button>
            <button class="butt" style="color: black" type="button">@Html.ActionLink("RESERVE & PAY", "PropertyDetails")</button>
        </div>
        <br/>
    </div>
    <br/>

    <table class="table">

        <tr>
            <th>
                <div class="row" align="center">
                    <div id="map"></div>
                    <script>
                        var map;
                        function initMap() {
                            map = new google.maps.Map(document.getElementById('map'), {
                                center: { lat: -18.149957, lng: 178.444024 },
                                zoom: 15
                            });

                            var marker = new google.maps.Marker({
                                position: { lat: -18.149957, lng: 178.444024 },
                                map: map
                            });
                        }
                    </script>
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqRpqPZ4kH8AdpNLUgE1LWllSNVIXm6-c&callback=initMap"
                            async defer></script>
                </div>
            </th>
        </tr>
    </table>

    <div id="bookdate" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">AVAILABLE DATES</h4>
                </div>
                <div class="modal-body">
                    <select>
                        <option value="0">DATES</option>
                        <option value="1">26/04/18</option>
                        <option value="2">27/04/18</option>
                        <option value="3">30/04/18</option>
                        <option value="4">1/05/18</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="butt" data-dismiss="modal">SELECT</button>
                </div>
            </div>

        </div>
    </div>

    <div id="review" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">REVIEW</h4>
                </div>
                <div class="modal-body">
                    <textarea class="textreview" placeholder="Additional comments"  required=""></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="butt" data-dismiss="modal">SUBMIT</button>
                </div>
            </div>

        </div>
    </div>

</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}